@import '@fontsource/inter/400.css';
@import '@fontsource/inter/500.css';
@import '@fontsource/inter/600.css';
@import '@fontsource/playfair-display/600.css';
@import '@fontsource/playfair-display/700.css';

:root {
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Playfair Display', serif;
}

body {
  font-family: var(--font-sans);
}

h1, h2 {
  font-family: var(--font-serif);
}
